@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');





/* CSS VARIABLES */


:root{
    
    /* colors */
    --primary-color: #f8bc1a;
    --second-color: #3C0E78;
    --third-color: #161616;
    --fourth-color: #e9e9e9;

    /* fonts  */
    --primary-font-family: 'Poppins', sans-serif;
    --primary-font-color: #040000;
    --secondary-font-color: #FFFFFF;

    /* btn colors */
    --btnBlack: #151615;
    --btnWhite: #f4f3f3;
}


/* CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font-family);
    width: 100%;

}

header{
    height: 80px;
    background-color: var(--fourth-color);
    align-items: center;
}
.container{
    margin: 0 90px;
}
.section-1{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: var(--primary-font-color);
    display: flex;
}

.logo a img{
    width: 35px;
}
.logo span{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.nav-1 img{
    width: 22px;
    margin-right: 15px;
}

.nav-1 a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 1rem;
    display: flex;
}

.hero{
    width: 100%;
    height: 560px;
    background-image:  url(../images/big/slider-bg.jpg);
    background-size: cover;
}
.menu-bar{
    display: none;
}
nav{
    width: 70%;
    height: 70px;
    margin: auto;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}
nav ul{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 1rem;
    text-align: center;
}
nav ul li a:hover{
    color: var(--secondary-font-color);
}

.hero-flex{
    display: flex;
    flex-direction: column;
    float: right;
    margin: 80px;
}


.fitness h2{
    color: var(--primary-color);
    font-size: 2rem;
}
.fitness h1{
    color: var(--secondary-font-color);
    font-size: 4rem;
}
.fitness p{
    font-size: 1rem;
    color: var(--secondary-font-color);
}
.button{
    display: flex;
    gap: 10px;
}

.btn-1{
    width: 165px;
    height: 40px;
    background-color: var(--primary-color);
    margin-top: 20px;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
}
.btn-1:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--primary-color);
    color: var(--secondary-font-color);
}

.btn-2:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--btnWhite);
    color: var(--third-color);
}
.btn-3:hover{
    color: var(--second-color);
}
.btn-2{
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
}

.button a{
    text-decoration: none;
    color: var(--primary-font-color);

}

.section-2{
    height: 600px;
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section-2 img{
    width: 200px;
    height: 200px;
}

.section-2 a{
    text-decoration: none;
    color: var(--primary-font-color);
}

.heading h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}
.heading h2 hr{
    color: var(--primary-color);
    border: none;
    background-color: var(--primary-color);
    opacity:1;
    width: 60px;
    height: 6px;
    border-radius: 4px;
    margin: auto;
}
.heading-service h2{
    margin: 90px;
}
.box-one {
    margin-left: 40px;
} 

.box {
    position: relative;
    width: 610px;
    height: 300px;
    cursor: pointer;
}
.image {
width: 100%;
height: 300px;
}

.image img {
width: 100%;
height: 100%;
object-fit: cover;
}


.box:hover .box-hover {
    visibility: visible;
}

.box-hover {
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(60, 14, 120, 0.8);
    width: 610px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-font-color);
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.box-hover .link {
    margin-bottom: 1.2rem;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.link img {
    margin: 10px;
}

.text-1 {
    font-size: 1rem;
    position: absolute;
    left: 25px;
    bottom: 5px;
    color: var(--secondary-font-color);
}
.box h2{
    font-size: 1.5rem;
}

.box:hover .text-1 {
    visibility: hidden;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-gap: 30px;
}

.section-3{
    width: 100%;
    height: 500px;
    background-color: var(--second-color);
    margin-top: 50px;
}
.why{
    padding: 70px;
    color: var(--secondary-font-color);
}
.box-rows{
    width: 265px;
    height: 220px;
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-rows h2{
    margin: 10px;
    font-size: 1.2rem;
}

.box-flex{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.customers{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.section-5{
    margin-top: 100px;
}

.results{
    display: flex;

}
.results img{
    width: 50%;
    height: 100%;
}
.results-left{
    width: 50%;
    height: auto;
    background-color: var(--second-color);
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.results-in h2{
    font-weight: bold;
    font-size: 2.5rem;
}
.best h2 hr{
    color: var(--primary-color);
    border: none;
    background-color: var(--primary-color);
    opacity: 1;
    width: 50px;
    height: 5px;
    border-radius: 4px;
}
.results-in{
    width: 50%;
    margin-left: 40px;
}


.section-6{
    margin-top: 80px;
}
.three{
    margin: 2px;
}
.two-sides form{
    width: 50%;
}
.two-sides input{
    width: 80%;
    border: none;
    border-bottom: 1px solid var(--third-color);
    margin: 5px;
    /* margin-left: 30px; */

}
.two-sides form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 0 70px;

}

.two-sides input:focus{
    outline: none;
}
.two-sides input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-msg{
    margin-left: 30px;

}

/* google map */
.mapouter{
    margin: 0 30px;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 50%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}

.two-sides{
    margin-top: 70px;
    display: flex;
    gap: 50px;
}

/* footer */
footer{
    width: 100%;
    height: 430px;
    margin-top: 30px;
    background-color: var(--third-color);
    color: var(--secondary-font-color);
}
.heading-ft h2{
    font-weight: 500;
    color: var(--fourth-color);
    padding-top: 30px;
}

.footer-rows{
    display: flex;
}
.about-ft{
    width: 20%;
    margin: 20px;
    margin-right: 95px;
}
.news-sub form {
    display: flex;
    align-items: center;
  }
  
.news-sub form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    border: none;
    flex-grow: 1;
    outline: none;
  }
  
  .news-sub form button{
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
  }
 .news-sub form input::placeholder {
    color: #ccc;
  }
  
  .news-sub form button:hover {
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid var(--primary-color);

  }

  .news-sub{
    margin-top: 30px;
  }
  .news-sub form{
    width: 60%;
    display: flex;
    margin: auto;
    
  }
.about-ft h6{
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 10px;
}
.about-ft p{
    color: var(--fourth-color); 
}

.about-ft ul{
    padding: 0;
}
.about-ft ul li{
    list-style: none;
}
.about-ft ul li a{
    text-decoration: none;
    color: var(--fourth-color);
}
.about-ft ul li a:hover{
    color: var(--secondary-font-color);
}
.others{
    margin-right: 10px !important;

}

.margin-ft li{
   margin-bottom: 10px; 
}
.social-ft{
    margin-top: 30px; 
}
.social-ft img{
    width: 35px;
    height: auto;
}

/* last */
.last{
    background-color: var(--third-color);
    width: 100%;
}
.last p{
    width: 60%;
    margin: auto;
    color: var(--secondary-font-color);
}
